{
    "env": {
        "test": {
          "presets": ["env", "react", "stage-0"],
          "plugins": ["transform-export-extensions"],
          "only": [
            "./**/*.js",
            "node_modules/jest-runtime"
          ]
        }
      }
  }